@import '~antd/dist/antd.css';
@import 'react-date-range/dist/styles.css';
@import 'react-date-range/dist/theme/default.css';

body {
  background-color: #F5F5F5;
  font-family: 'Montserrat', sans-serif !important;
}
